header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid black;
}
#logoutButton {
    display: none;
}
#loginModalSuccess {
    display: none;
}
#registerModalSuccess {
    display: none;
}